<div data-controller="daily-data" data-daily-data-fullcalendar-outlet=".calendar">
  <div>
    <h3 class="text-base font-semibold leading-6 text-gray-900 text-center" data-daily-data-target="dateDisplay"></h3>
    <dl class="mt-5 flex-col divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow">
      <div class="px-4 py-5 sm:p-6">
        <dt class="text-base font-normal text-gray-900">Captured Revenue</dt>
        <dd class="mt-1 flex items-baseline justify-between md:block lg:flex">
          <div class="flex items-baseline text-2xl font-semibold text-indigo-600">
            <span data-daily-data-target="capturedRevenueDisplay"></span>
          </div>
        </dd>
      </div>

      <div class="px-4 py-5 sm:p-6">
        <dt class="text-base font-normal text-gray-900">Projected Revenue Remaining</dt>
        <dd class="mt-1 flex items-baseline justify-between md:block lg:flex">
          <div class="flex items-baseline text-2xl font-semibold text-indigo-600">
            <span data-daily-data-target="dollarDisplay"></span>
          </div>
        </dd>
      </div>

      <div class="px-4 py-5 sm:p-6">
        <dt class="text-base font-normal text-gray-900">Job Count</dt>
        <dd class="mt-1 flex items-baseline justify-between md:block lg:flex">
          <div class="flex items-baseline text-2xl font-semibold text-indigo-600">
            <span data-daily-data-target="jobCountDisplay"></span>
          </div>
        </dd>
      </div>
    </dl>
  </div>
</div>

