<div class="h-full container flex mt-4">
  <div class="w-1/3 h-full">
    <%= render DashboardSidebarComponent.new %>
  </div>
  <div>
    <div class="w-full m-auto">
      <h1><%= t(".greeting") %><%=current_user.first_name%></h1>
    </div>
  </div>
</div>

