<div class="container p-4 mx-auto w-full flex flex-row justify-between">
  <div>
    <%= render "calendars/calendar" %>
  </div>
  <div class="mr-20">
    <h1><%= render "dashboard/daily_data", locals: { date_range: date_range } %></h1>
  <div>
</div>
