<div class="container p-4 mx-auto">
<%= month_calendar(events: @jobs) do |date, jobs| %>
  <%= date %>

  <% jobs.each do |job| %>
    <div>
      <%= link_to job, class: "block hover:bg-gray-50" do %>
        <%= job.customer.first_name %>
      <% end %>
    </div>
  <% end %>
<% end %>
</div>
