<div class="container p-4 mx-auto w-full flex flex-row justify-evenly">
  <div>
    <%= render "calendars/calendar" %>
  </div>
  <div>
    <h1><%= render "dashboard/daily_data" %></h1>
  <div>
</div>
