<div class="container p-4 mx-auto">
  <div class="my-8">
    <h1><%= t(".title") %></h1>
    <% @todays_schedule_items.each do |rs| %>
     <p>Customer: </p><%= rs.job.customer.name %>
     <p>Allocated resource: </p><%= rs.company_resource.name %>
    <% end %>
  </div>
</div>