<div class="text-sm font-medium">
  <span class="text-gray-500">Sort by:</span>
  <%= sort_link @q, :full_name, "Name", class: "text-gray-700 mr-1" %>
  <%= sort_link @q, :employee_template_title, "Role", class: "text-gray-700 mr-1" %>
  <%= sort_link @q, :start_date, class: "text-gray-700 mr-1" %>
  <%= sort_link @q, :final_date, class: "text-gray-700 mr-1" %>
</div>