<div id="<%= dom_id attribute_answer %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Employee template</p>
    <%= attribute_answer.employee_attribute_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Employee</p>
    <%= attribute_answer.employee_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Answer</p>
    <%= attribute_answer.answer %>
  </div>
</div>
