<select name="job[employee_ids]" id="job_employee_ids">
  <option>Please select</option>
  <% employees.each do |e| %>
    <option value="<%=e.id%>"><%= e.first_and_last_name %></option>
  <% end %>
</select>