<div data-controller="modal">
  <% if job.staffed? %>
    <% employees = job.employee_jobs %>
    <h5>Scheduled Employees:</h5>
    <%= render partial: "job_employee_list", locals: { employees: employees } %>
    <% if current_account_user.admin? %>
      <button class="btn btn-primary" data-action="click->modal#open">Change staffing</button>
    <% end %>
  <% end %>

  <% if job.scheduled? %>
    <% employees = job.employee_jobs %>
    <% if current_account_user.admin? %>
      <button class="btn btn-primary" data-action="click->modal#open">Add Staffing</button>
    <% end %>
  <% end %>

  <% if job.complete? %>
    <% employees = job.employee_jobs %>
    <h5>Job Completed By:</h5>
    <%= render partial: "job_employee_list", locals: { employees: employees } %>
    <% if current_account_user.admin? %>
      <button class="btn btn-primary" data-action="click->modal#open">Change Staffing</button>
    <% end %>
  <% end %>

  <div data-modal-target="container" data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard" class="fixed inset-0 flex items-center justify-center hidden overflow-y-auto animated fadeIn" style="z-index: 9999;">
    <div class="relative w-full max-w-lg max-h-screen">
      <div class="m-1 bg-white rounded shadow">
        <div class="p-8">
          <h2 class="mb-4">Staffing</h2>
          <%= render partial: "staff_modal_content" %>
        </div>
      </div>
    </div>
  </div>
</div>
