<div data-controller="modal">
  <% if job.staffed? %>
    <% employees = job.employee_jobs %>
    <h5>Scheduled Employees:</h5>
    <%= render partial: "job_employee_list", locals: { employees: employees } %>
    <button class="btn btn-primary" data-action="click->modal#open">Edit staffing</button>
  <% end %>

  <% if job.scheduled? %>
    <% employees = job.employee_jobs %>
    <button class="btn btn-primary" data-action="click->modal#open">Add Staffing</button>
  <% end %>

  <% if job.completed? %>
    <% employees = job.employee_jobs %>
    <h5>Job Completed By:</h5>
    <%= render partial: "job_employee_list", locals: { employees: employees } %>
    <%= link_to "Edit staffing", staff_job_path(@job), class: "btn btn-white mt-2" %>
  <% end %>

  <div data-modal-target="container" data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard" class="fixed inset-0 flex items-center justify-center hidden overflow-y-auto animated fadeIn" style="z-index: 9999;">
    <div class="relative w-full max-w-lg max-h-screen">
      <div class="m-1 bg-white rounded shadow">
        <div class="p-8">
          <h2 class="mb-4">Staffing</h2>
          <%= render partial: "staff_modal_content" %>
        </div>
      </div>
    </div>
  </div>
</div>
