<li id="<%= dom_id company_resource %>">
  <%= link_to company_resource, class: "block hover:bg-gray-50" do %>
    <div class="flex items-center px-4 py-4 sm:px-6">
      <div class="flex items-center flex-1 min-w-0">
        <div class="flex-1 min-w-0 px-4 md:grid md:grid-cols-2 md:gap-4">
          <div>
            <p class="text-sm font-medium truncate">
              <span class="text-primary-600"><%= company_resource&.name %>
              <span class="text-gray-400"> - <%= company_resource&.description %></span>
            </p>
          </div>
        </div>
      </div>
      <div>
        <i class="fa-solid fa-chevron-right"></i>
      </div>
    </div>
  <% end %>
</li>