<div id="<%= dom_id employee_template %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Name</p>
    <%= employee_template.title %>

    <p class="text-sm font-medium text-gray-500">Attributes</p>
    <% employee_template.template_attributes.each do |attribute| %>
      <p><%= attribute %></p>
    <% end %>
  </div>
</div>
