<div id="<%= dom_id(employee_template, :index) %>">
  <%= turbo_stream_from employee_template %>
  <%= render employee_template %>
  <%= link_to "View", employee_template, class: "btn btn-white" %>
</div>

