<%= content_for :title, t("shared.scaffold.new.title", model: "Employee Template") %>

<div class="container px-4 mx-auto my-8 w-1/2">
  <div class="flex items-center justify-between mb-4">
    <h1 class="h3 m-auto">
      <%= link_to "Employee Templates", employee_templates_path, class: "text-black" %>
      <span class="text-gray-400 font-light mx-2">\</span>
      <%= t("shared.scaffold.new.title", model: "Employee Template")%>
    </h1>
  </div>

  <div class="p-8 bg-white rounded shadow">
    <%= render "form", employee_template: @employee_template %>
  </div>
</div>
