<div class="form-group w-1/3">
  <label for="name">Attribute name:</label>
  <input multiple="multiple" class="form-control" type="text" name="employee_template[template_attributes][]"  />
  <select class="form-control" name="employee_template[template_attributes][]" id="data_type">
    <option value="boolean">True/False</option>
    <option value="string">Text</option>
    <option value="integer">Number</option>
  </select>
  <label for="required">Required</label>
  <input type="checkbox" id="required" name="employee_template[template_attributes][]" value="required">
  <input type="hidden" name="employee_template[template_attributes][]" value="|">
</div>
