<div id="<%= dom_id employee_attribute %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Employee template</p>
    <%= employee_attribute.employee_template_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Name</p>
    <%= employee_attribute.name %>
  </div>
</div>
